<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons und Bilder auf dieser Seite stammen aus folgenden Quellen:</span>
                <br><br>
                <b>Sebastian Gamroth</b>
                <br><br>
                <b>Fonts.google.com/icons</b>
                <br>
                <a target="_blank" href="https://fonts.google.com/icons">fonts.google.com/icons</a>
                <br><br>
                <b>Pixabay</b>
                <br>
                <a target="_blank" href="https://pixabay.com/">pixabay.com</a>
            </div>
        </div>
    </div>
</section>