<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Main</th>
            <th>City</th>
        </tr>
        <!-- [routerLink]="['/user/'+user.customIdName]" -->
        <tr *ngFor="let user of allUsers">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon><img src="assets/img/add.svg"></mat-icon>
</button>