mat-card {
    padding-left: 0px;
    padding-right: 0px;
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;

    img {
        width: 24px;
        height: 24px;
        filter: invert(1);
    }
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        cursor: pointer;

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

    }

    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}